//reset
$min-width: 320px;
$max-width: 1360px;
$base-bg: #fff;
$base-font-size: 16px;
$base-line-height: normal;
$base-font-family: Cambria, serif;
$custom-font-family: 'Gotham Pro', sans-serif;
$link-color: #0001a9;
$default-transition: all .25s ease-in-out 0s;

$main-text-color: #0a2145;
$second-text-color: #8492a6;
$site-color: #ffec81;

$button-text-color: #444f66;

//text, titles
$title-color: $main-text-color;
$text-color: $main-text-color;
$text-color-invert: #fff;

$font-size-h1: 36px;
$line-height-h1: 42px;

$font-size-h2: 32px;
$line-height-h2: 37px;

$font-size-h3: 28px;
$line-height-h3: 32px;